# Case 02: Data Import - Working with Web APIs and SJON (Movie Dataset)

## Importing Data from JSON foles

In [2]:
import pandas as pd
import json

In [3]:
with open("blockbusters.json") as f:
    data = json.load(f)

In [4]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [5]:
type(data)

list

In [6]:
len(data)

18

In [7]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

In [8]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df = pd.read_json("blockbusters.json")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [13]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [15]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [16]:
pd.json_normalize(data = data, sep = "_")

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,NaN
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,NaN,NaN,NaN,NaN,NaN
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,NaN
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,NaN
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,NaN

In [19]:
pd.json_normalize(data = data, sep = "_").genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [25]:
pd.json_normalize(data = data, record_path = "genres", meta = ["title", "id"], record_prefix = "genre_" )

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

In [1]:
import pandas as pd
import json

In [2]:
with open("blockbusters2.json") as f:
    data = json.load(f)

In [3]:
data

{'title': {'0': 'Avengers: Endgame',
  '1': 'Avatar',
  '2': 'Star Wars: The Force Awakens',
  '3': 'Avengers: Infinity War',
  '4': 'Titanic',
  '5': 'Jurassic World',
  '6': 'The Lion King',
  '7': 'The Avengers',
  '8': 'Furious 7',
  '9': 'Avengers: Age of Ultron',
  '10': 'Black Panther',
  '11': 'Harry Potter and the Deathly Hallows: Part 2',
  '12': 'Star Wars: The Last Jedi',
  '13': 'Frozen II',
  '14': 'Jurassic World: Fallen Kingdom',
  '15': 'Frozen',
  '16': 'Beauty and the Beast',
  '17': 'Incredibles 2'},
 'id': {'0': 299534,
  '1': 19995,
  '2': 140607,
  '3': 299536,
  '4': 597,
  '5': 135397,
  '6': 420818,
  '7': 24428,
  '8': 168259,
  '9': 99861,
  '10': 284054,
  '11': 12445,
  '12': 181808,
  '13': 330457,
  '14': 351286,
  '15': 109445,
  '16': 321612,
  '17': 260513},
 'revenue': {'0': 2797800564,
  '1': 2787965087,
  '2': 2068223624,
  '3': 2046239637,
  '4': 1845034188,
  '5': 1671713208,
  '6': 1656943394,
  '7': 1519557910,
  '8': 1506249360,
  '9': 1405403694,
  '10': 1346739107,
  '11': 1341511219,
  '12': 1332539889,
  '13': 1330764959,
  '14': 1303459585,
  '15': 1274219009,
  '16': 1263521126,
  '17': 1241891456},
 'genres': {'0': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '1': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '2': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  '3': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  '4': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  '5': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  '6': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  '7': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  '8': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  '9': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '10': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '11': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  '12': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '13': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  '14': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '15': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  '16': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  '17': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}]},
 'belongs_to_collection': {'0': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '1': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  '2': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '3': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '4': None,
  '5': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '6': None,
  '7': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '8': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  '9': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '10': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  '11': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  '12': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '13': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '14': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '15': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '16': None,
  '17': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'}},
 'runtime': {'0': 181,
  '1': 162,
  '2': 136,
  '3': 149,
  '4': 194,
  '5': 124,
  '6': 118,
  '7': 143,
  '8': 137,
  '9': 141,
  '10': 134,
  '11': 130,
  '12': 152,
  '13': 104,
  '14': 129,
  '15': 102,
  '16': 129,
  '17': 118}}

In [4]:
type(data)

dict

In [5]:
len(data)

6

In [8]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
df = pd.read_json("blockbusters2.json")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [10]:
pd.json_normalize(data = data, sep = "_")

,title_0,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,...,runtime_8,runtime_9,runtime_10,runtime_11,runtime_12,runtime_13,runtime_14,runtime_15,runtime_16,runtime_17
0,Avengers: Endgame,Avatar,Star Wars: The Force Awakens,Avengers: Infinity War,Titanic,Jurassic World,The Lion King,The Avengers,Furious 7,Avengers: Age of Ultron,...,137,141,134,130,152,104,129,102,129,118

In [12]:
import pandas as pd
import json

In [13]:
with open("blockbusters3.json") as f:
    data = json.load(f)

In [14]:
data

{'columns': ['title',
  'id',
  'revenue',
  'genres',
  'belongs_to_collection',
  'runtime'],
 'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 'data': [['Avengers: Endgame',
   299534,
   2797800564,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   181],
  ['Avatar',
   19995,
   2787965087,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 87096,
    'name': 'Avatar Collection',
    'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
    'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
   162],
  ['Star Wars: The Force Awakens',
   140607,
   2068223624,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 14, 'name': 'Fantasy'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   136],
  ['Avengers: Infinity War',
   299536,
   2046239637,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 28, 'name': 'Action'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   149],
  ['Titanic',
   597,
   1845034188,
   [{'id': 18, 'name': 'Drama'},
    {'id': 10749, 'name': 'Romance'},
    {'id': 53, 'name': 'Thriller'}],
   None,
   194],
  ['Jurassic World',
   135397,
   1671713208,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 53, 'name': 'Thriller'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   124],
  ['The Lion King',
   420818,
   1656943394,
   [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
   None,
   118],
  ['The Avengers',
   24428,
   1519557910,
   [{'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   143],
  ['Furious 7',
   168259,
   1506249360,
   [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
   {'id': 9485,
    'name': 'The Fast and the Furious Collection',
    'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
    'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
   137],
  ['Avengers: Age of Ultron',
   99861,
   1405403694,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   141],
  ['Black Panther',
   284054,
   1346739107,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 529892,
    'name': 'Black Panther Collection',
    'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
    'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
   134],
  ['Harry Potter and the Deathly Hallows: Part 2',
   12445,
   1341511219,
   [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
   {'id': 1241,
    'name': 'Harry Potter Collection',
    'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
    'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
   130],
  ['Star Wars: The Last Jedi',
   181808,
   1332539889,
   [{'id': 14, 'name': 'Fantasy'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   152],
  ['Frozen II',
   330457,
   1330764959,
   [{'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   104],
  ['Jurassic World: Fallen Kingdom',
   351286,
   1303459585,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   129],
  ['Frozen',
   109445,
   1274219009,
   [{'id': 16, 'name': 'Animation'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   102],
  ['Beauty and the Beast',
   321612,
   1263521126,
   [{'id': 10751, 'name': 'Family'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 10749, 'name': 'Romance'}],
   None,
   129],
  ['Incredibles 2',
   260513,
   1241891456,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 468222,
    'name': 'The Incredibles Collection',
    'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
    'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
   118]]}

In [15]:
type(data)

dict

In [16]:
len(data)

3

In [17]:
data(0)

TypeError: 'dict' object is not callable

In [18]:
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

In [20]:
df = pd.read_json("blockbusters3.json")
df

ValueError: All arrays must be of the same length

In [22]:
df = pd.read_json("blockbusters3.json", orient = "split")
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

# Working with APIs and JSON (Part1)

In [26]:
api_key = "api_key=6ba36fa80dddafff20f2bcc5811c603b"

In [28]:
import pandas as pd
import requests
pd.options.display.max_columns = 30

In [29]:
movie_id = 140607

In [30]:
movie_api = "http://api.themoviedb.org/3/movie/{}?"
movie_api

'http://api.themoviedb.org/3/movie/{}?'

In [31]:
url = movie_api.format(movie_id) + api_key
url

'http://api.themoviedb.org/3/movie/140607?api_key=6ba36fa80dddafff20f2bcc5811c603b'

In [32]:
r = requests.get(url)
r

In [33]:
data = r.json()

In [34]:
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 70.175,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.3,
 'vote_count': 16459}

In [35]:
type(data)

dict

In [36]:
pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [37]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          70.175
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                           7.3
vote_count                                                           16459
dtype: object

In [38]:
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,70.175,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16459

In [39]:
pd.json_normalize(data, sep = "_")

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,70.175,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16459,10,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [40]:
pd.json_normalize(data = data, record_path = "genres", meta = "title")

    id             name                         title
0   28           Action  Star Wars: The Force Awakens
1   12        Adventure  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [41]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

## Working with APIs and JSON (Part2)

In [55]:
api_key = "api_key=6ba36fa80dddafff20f2bcc5811c603b"

In [56]:
import pandas as pd
import requests 
pd.options.display.max_columns = 30

In [57]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [70]:
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29&page=2"

In [71]:
url = discover_api+api_key+query

In [72]:
data = requests.get(url).json()

In [73]:
data

{'page': 2,
 'results': [{'adult': False,
   'backdrop_path': '/1yqVaDR7uIA3Xx9GQIhbEbh5pEe.jpg',
   'genre_ids': [9648, 53, 80, 35, 18],
   'id': 571648,
   'original_language': 'ko',
   'original_title': '지푸라기라도 잡고 싶은 짐승들',
   'overview': 'The destinies of hard-luck lowlifes slowly converge and come crashing down: Jung-man barely gets by working at a sauna and taking care of his sick mother until he finds a bag full of cash in the locker room; Tae-young is in trouble after his girlfriend runs away with the money he borrowed from a loan shark. Soon, a dead body mysteriously turns up; Mi-ran, caught between her husband’s violence and a dead-end job as a bar hostess, she finds a young lover, Jin-tae who offers to kill her husband… And now their dog-eat-dog game starts.',
   'popularity': 33.886,
   'poster_path': '/lO4hjVBxrVtMmupGraIR3c7Jq1Q.jpg',
   'release_date': '2020-02-19',
   'title': 'Beasts Clawing at Straws',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 128},
  {'adult': False,
   'backdrop_path': '/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg',
   'genre_ids': [14, 12, 35],
   'id': 520725,
   'original_language': 'fr',
   'original_title': 'Le prince oublié',
   'overview': 'Djibi lives alone with Sofia, his 8-year-old daughter. Every night, he invents a story to put him to sleep. When Sofia falls asleep, these extraordinary stories come to life somewhere in an imaginary world inhabited by knights, pirates and other dragons. In this world that belongs only to them, Sofia is always the princess to save, and the brave Prince is none other than Djibi himself.  But 3 years later, the entry of Sofia to the college will mark the end of her childhood. To the despair of her father, she no longer needs her stories at night. On the one hand, Djibi will have to accept that his daughter will grow up and move away from him. On the other hand, in the World of Stories, the Prince will have to face the most epic of all his adventures. Find your destiny in a world where it no longer has a place.',
   'popularity': 29.094,
   'poster_path': '/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg',
   'release_date': '2020-02-12',
   'title': 'The Lost Prince',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 270},
  {'adult': False,
   'backdrop_path': '/serQTpLKTSNdGhmNMZarfa6wnah.jpg',
   'genre_ids': [18],
   'id': 641960,
   'original_language': 'en',
   'original_title': 'Four Good Days',
   'overview': 'A mother helps her daughter work through four crucial days of recovery from substance abuse.',
   'popularity': 25.346,
   'poster_path': '/uaJmqZxwAsdFLLjPGH5DzIEnbpj.jpg',
   'release_date': '2020-01-23',
   'title': 'Four Good Days',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 53},
  {'adult': False,
   'backdrop_path': '/dzfiE2VHY362dGI62XfZ2iI87CT.jpg',
   'genre_ids': [27, 14, 12, 9648],
   'id': 539537,
   'original_language': 'en',
   'original_title': 'Fantasy Island',
   'overview': 'A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios.',
   'popularity': 26.194,
   'poster_path': '/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg',
   'release_date': '2020-02-12',
   'title': 'Fantasy Island',
   'video': False,
   'vote_average': 6,
   'vote_count': 1717},
  {'adult': False,
   'backdrop_path': '/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg',
   'genre_ids': [35, 53, 80],
   'id': 609242,
   'original_language': 'es',
   'original_title': 'El robo del siglo',
   'overview': 'In 2006, a group of thieves performed what is considered one of the most famous and smart bank heists in the history of Argentina. How they robbed the Rio bank is as surprising as what happened afterwards. This is their story.',
   'popularity': 30.889,
   'poster_path': '/1zL4VCVin4S8kOXhszMDqfwWPCM.jpg',
   'release_date': '2020-01-16',
   'title': 'The Heist of the Century',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 575},
  {'adult': False,
   'backdrop_path': '/sizHX5VbwlBihaathTQHVGk1jdi.jpg',
   'genre_ids': [878, 18, 10749, 28],
   'id': 514207,
   'original_language': 'ru',
   'original_title': 'Вторжение',
   'overview': 'Two years after the fall of the alien ship, the life of a young woman from Moscow has been changed forever. Her growing powers are now at the focus of both human and celestial investigation: an alien force takes an interest in her, and will stop short of nothing, including an invasion. Can love and compassion save humanity, when faced with a much greater and more demanding test this time?',
   'popularity': 23.545,
   'poster_path': '/dqKqzcdhtJwOhjqe89RTURqILtl.jpg',
   'release_date': '2020-01-01',
   'title': 'Invasion',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 596},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [28, 27, 878, 53],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 26.375,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2285},
  {'adult': False,
   'backdrop_path': '/8ki3UBFOn0ghCa8oUDHaKhmAMO3.jpg',
   'genre_ids': [16, 10751, 12, 28],
   'id': 657561,
   'original_language': 'en',
   'original_title': 'The Wishmas Tree',
   'overview': "A young possum's misguided wish for a white Wishmas not only freezes her entire hometown of Sanctuary City, but also threatens the lives of all who live there. Before the magical Wishmas Tree dies, she must undertake a perilous journey into the WILD; battling self-doubt, ghostly predators and ultimately, Extinction itself, to reverse the damage she has caused and save her city.",
   'popularity': 35.714,
   'poster_path': '/90eStEGcL7tb65UU6ptMaG2PtIp.jpg',
   'release_date': '2020-02-27',
   'title': 'The Wishmas Tree',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 58},
  {'adult': False,
   'backdrop_path': '/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg',
   'genre_ids': [53, 878, 27],
   'id': 570670,
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'popularity': 23.462,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'release_date': '2020-02-26',
   'title': 'The Invisible Man',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 4226},
  {'adult': False,
   'backdrop_path': '/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg',
   'genre_ids': [14, 28, 12],
   'id': 666750,
   'original_language': 'en',
   'original_title': 'Dragonheart: Vengeance',
   'overview': 'Lukas, a young farmer whose family is killed by savage raiders in the countryside, sets out on an epic quest for revenge, forming an unlikely trio with a majestic dragon and a swashbuckling, sword-fighting mercenary, Darius.',
   'popularity': 29.554,
   'poster_path': '/qs6gz6atyQcAvqC6qZaslOjliUG.jpg',
   'release_date': '2020-02-04',
   'title': 'Dragonheart: Vengeance',
   'video': False,
   'vote_average': 7,
   'vote_count': 248},
  {'adult': False,
   'backdrop_path': '/ucbCMz45WsE4iyJIWiwewOpDwEI.jpg',
   'genre_ids': [16, 35, 10751],
   'id': 594530,
   'original_language': 'en',
   'original_title': 'Lamp Life',
   'overview': 'Bo Peep explains what happened to herself and her sheep between the events of Toy Story 2 and Toy Story 4.',
   'popularity': 22.092,
   'poster_path': '/mJ95RnlammhYb6ZvBbQFLq8Jqnl.jpg',
   'release_date': '2020-01-31',
   'title': 'Lamp Life',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 212},
  {'adult': False,
   'backdrop_path': '/5VKquU8PNujrxLmsYGHf2TCRNFQ.jpg',
   'genre_ids': [878],
   'id': 582306,
   'original_language': 'en',
   'original_title': 'Assassin 33 A.D.',
   'overview': 'When a billionaire gives a group of young scientists unlimited resources to study the science of matter transfer, the scientists unlock the secrets of time travel. But they soon find out that the project is backed by a militant extremist group, and the billionaire plans to go back in time and prove that Jesus never rose from the dead.',
   'popularity': 18.892,
   'poster_path': '/8jDvtdH327I8TgX3UPdkAsZF1dA.jpg',
   'release_date': '2020-01-24',
   'title': 'Assassin 33 A.D.',
   'video': False,
   'vote_average': 5.3,
   'vote_count': 86},
  {'adult': False,
   'backdrop_path': '/9LsJP9OuIBmBUxZpmVKtUUjF0PA.jpg',
   'genre_ids': [10749, 35],
   'id': 565426,
   'original_language': 'en',
   'original_title': 'To All the Boys: P.S. I Still Love You',
   'overview': 'Lara Jean and Peter have just taken their romance from pretend to officially real when another recipient of one of her love letters enters the picture.',
   'popularity': 22.555,
   'poster_path': '/maib5VlmEqp5xlN8lptnBSftp2o.jpg',
   'release_date': '2020-02-12',
   'title': 'To All the Boys: P.S. I Still Love You',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 2107},
  {'adult': False,
   'backdrop_path': '/dUasP5TGFk1dhTgtNhk5uLRPRx6.jpg',
   'genre_ids': [10752, 36, 18],
   'id': 592279,
   'original_language': 'ru',
   'original_title': 'Калашников',
   'overview': 'Tank commander Kalashnikov is severely injured in battle in 1941. The accident leaves him incapacitated and unable to return to the front line.\xa0While recovering in the hospital he begins creating the initial sketches of what will become one of the world’s most legendary weapons. A self-taught inventor, Mikhail Kalashnikov, is only 29 when he develops the now iconic assault riffle\xa0— the AK-47.',
   'popularity': 19.737,
   'poster_path': '/ApfjrFsGunqLo5MKYGtFMTSTaMq.jpg',
   'release_date': '2020-02-20',
   'title': 'Kalashnikov AK-47',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 167},
  {'adult': False,
   'backdrop_path': '/kwkAGwtwS57FckZq6n44oipW1AN.jpg',
   'genre_ids': [878, 27],
   'id': 668343,
   'original_language': 'en',
   'original_title': 'Alien Outbreak',
   'overview': 'In a small rural community, local police officers Zoe and Patrick begin their shift as normal but soon, strange events unfold. Residents begin behaving erratically, and suicidal panic spreads amongst the township they are trying to protect. Zoe and Patrick realise alien machines are taking hold, cutting their small group of survivors off from the outside world. Can the determined humans band together to save their community, and all mankind, from extinction?',
   'popularity': 21.848,
   'poster_path': '/5m4Gw9wTRxUdDnx7UNn1bNLN54J.jpg',
   'release_date': '2020-02-11',
   'title': 'Alien Outbreak',
   'video': False,
   'vote_average': 3.8,
   'vote_count': 20},
  {'adult': False,
   'backdrop_path': '/tmS9oXeMVs6njcxndDKsjJSF02H.jpg',
   'genre_ids': [18],
   'id': 552532,
   'original_language': 'en',
   'original_title': 'Charm City Kings',
   'overview': 'Mouse desperately wants to join The Midnight Clique, the infamous Baltimore dirt bike riders who rule the summertime streets. When Midnight’s leader, Blax, takes 14-year-old Mouse under his wing, Mouse soon finds himself torn between the straight-and-narrow and a road filled with fast money and violence.',
   'popularity': 25.942,
   'poster_path': '/8oiMFMarbRpcusASIX4cjVXoZKI.jpg',
   'release_date': '2020-01-27',
   'title': 'Charm City Kings',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 273},
  {'adult': False,
   'backdrop_path': '/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg',
   'genre_ids': [27, 9648, 53],
   'id': 555974,
   'original_language': 'en',
   'original_title': 'Brahms: The Boy II',
   'overview': 'After a family moves into the Heelshire Mansion, their young son soon makes friends with a life-like doll called Brahms.',
   'popularity': 19.584,
   'poster_path': '/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg',
   'release_date': '2020-02-20',
   'title': 'Brahms: The Boy II',
   'video': False,
   'vote_average': 6,
   'vote_count': 923},
  {'adult': False,
   'backdrop_path': '/y6J8TOnSUscFeMgvWxc6xeEEXo7.jpg',
   'genre_ids': [16, 35, 10751, 10749],
   'id': 673595,
   'original_language': 'en',
   'original_title': 'Playdate With Destiny',
   'overview': 'It seemed like just another day at the park for Maggie Simpson. But when Maggie faces playground peril, a heroic young baby whisks her from danger and steals her heart.',
   'popularity': 18.5,
   'poster_path': '/k6fgOq7wPKujibXGWYlcIBgkcwQ.jpg',
   'release_date': '2020-02-29',
   'title': 'Playdate With Destiny',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 286},
  {'adult': False,
   'backdrop_path': '/d5tYuMGpZEQ45NZOu9LrGQ2uiQN.jpg',
   'genre_ids': [16, 10751],
   'id': 619918,
   'original_language': 'no',
   'original_title': 'Elleville Elfrid',
   'overview': 'Ella Bella Bingo and Henry are best friends, but one day a new boy moves into the neighbourhood and everything changes.',
   'popularity': 19.663,
   'poster_path': '/vdK86hDn31gjtVJhMDB7ZMEAH8Z.jpg',
   'release_date': '2020-01-24',
   'title': 'Ella Bella Bingo',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 52},
  {'adult': False,
   'backdrop_path': '/bYSenwevJ3e71W0aweIv0vhBrhS.jpg',
   'genre_ids': [27, 9648],
   'id': 465086,
   'original_language': 'en',
   'original_title': 'The Grudge',
   'overview': 'After a young mother murders her family in her own house, a detective attempts to investigate the mysterious case, only to discover that the house is cursed by a vengeful ghost. Now targeted by the demonic spirits, the detective must do anything to protect herself and her family from harm.',
   'popularity': 18.23,
   'poster_path': '/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg',
   'release_date': '2020-01-01',
   'title': 'The Grudge',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 862}],
 'total_pages': 226,
 'total_results': 4512}

In [74]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,2,"{'adult': False, 'backdrop_path': '/1yqVaDR7uI...",226,4512
1,2,"{'adult': False, 'backdrop_path': '/brLBKS5vQf...",226,4512
2,2,"{'adult': False, 'backdrop_path': '/serQTpLKTS...",226,4512
3,2,"{'adult': False, 'backdrop_path': '/dzfiE2VHY3...",226,4512
4,2,"{'adult': False, 'backdrop_path': '/1umKVgbjFG...",226,4512
5,2,"{'adult': False, 'backdrop_path': '/sizHX5Vbwl...",226,4512
6,2,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",226,4512
7,2,"{'adult': False, 'backdrop_path': '/8ki3UBFOn0...",226,4512
8,2,"{'adult': False, 'backdrop_path': '/tweDJNQzBG...",226,4512
9,2,"{'adult': False, 'backdrop_path': '/6mKAKhj8PO...",226,4512
10,2,"{'adult': False, 'backdrop_path': '/ucbCMz45Ws...",226,4512
11,2,"{'adult': False, 'backdrop_path': '/5VKquU8PNu...",226,4512
12,2,"{'adult': False, 'backdrop_path': '/9LsJP9OuIB...",226,4512
13,2,"{'adult': False, 'backdrop_path': '/dUasP5TGFk...",226,4512
14,2,"{'adult': False, 'backdrop_path': '/kwkAGwtwS5...",226,4512
15,2,"{'adult': False, 'backdrop_path': '/tmS9oXeMVs...",226,4512
16,2,"{'adult': False, 'backdrop_path': '/jeiVmutYPZ...",226,4512
17,2,"{'adult': False, 'backdrop_path': '/y6J8TOnSUs...",226,4512
18,2,"{'adult': False, 'backdrop_path': '/d5tYuMGpZE...",226,4512
19,2,"{'adult': False, 'backdrop_path': '/bYSenwevJ3...",226,4512

In [76]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/1yqVaDR7uIA3Xx9GQIhbEbh5pEe.jpg,"[9648, 53, 80, 35, 18]",571648,ko,지푸라기라도 잡고 싶은 짐승들,The destinies of hard-luck lowlifes slowly con...,33.886,/lO4hjVBxrVtMmupGraIR3c7Jq1Q.jpg,2020-02-19,Beasts Clawing at Straws,False,7.2,128
1,False,/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg,"[14, 12, 35]",520725,fr,Le prince oublié,"Djibi lives alone with Sofia, his 8-year-old d...",29.094,/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg,2020-02-12,The Lost Prince,False,5.8,270
2,False,/serQTpLKTSNdGhmNMZarfa6wnah.jpg,[18],641960,en,Four Good Days,A mother helps her daughter work through four ...,25.346,/uaJmqZxwAsdFLLjPGH5DzIEnbpj.jpg,2020-01-23,Four Good Days,False,7.2,53
3,False,/dzfiE2VHY362dGI62XfZ2iI87CT.jpg,"[27, 14, 12, 9648]",539537,en,Fantasy Island,A group of contest winners arrive at an island...,26.194,/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg,2020-02-12,Fantasy Island,False,6.0,1717
4,False,/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg,"[35, 53, 80]",609242,es,El robo del siglo,"In 2006, a group of thieves performed what is ...",30.889,/1zL4VCVin4S8kOXhszMDqfwWPCM.jpg,2020-01-16,The Heist of the Century,False,7.8,575
5,False,/sizHX5VbwlBihaathTQHVGk1jdi.jpg,"[878, 18, 10749, 28]",514207,ru,Вторжение,"Two years after the fall of the alien ship, th...",23.545,/dqKqzcdhtJwOhjqe89RTURqILtl.jpg,2020-01-01,Invasion,False,6.9,596
6,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[28, 27, 878, 53]",443791,en,Underwater,After an earthquake destroys their underwater ...,26.375,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2285
7,False,/8ki3UBFOn0ghCa8oUDHaKhmAMO3.jpg,"[16, 10751, 12, 28]",657561,en,The Wishmas Tree,A young possum's misguided wish for a white Wi...,35.714,/90eStEGcL7tb65UU6ptMaG2PtIp.jpg,2020-02-27,The Wishmas Tree,False,6.9,58
8,False,/tweDJNQzBGgsWVF5MC8JhSAk07p.jpg,"[53, 878, 27]",570670,en,The Invisible Man,When Cecilia's abusive ex takes his own life a...,23.462,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,2020-02-26,The Invisible Man,False,7.2,4226
9,False,/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg,"[14, 28, 12]",666750,en,Dragonheart: Vengeance,"Lukas, a young farmer whose family is killed b...",29.554,/qs6gz6atyQcAvqC6qZaslOjliUG.jpg,2020-02-04,Dragonheart: Vengeance,False,7.0,248
10,False,/ucbCMz45WsE4iyJIWiwewOpDwEI.jpg,"[16, 35, 10751]",594530,en,Lamp Life,Bo Peep explains what happened to herself and ...,22.092,/mJ95RnlammhYb6ZvBbQFLq8Jqnl.jpg,2020-01-31,Lamp Life,False,7.3,212
11,False,/5VKquU8PNujrxLmsYGHf2TCRNFQ.jpg,[878],582306,en,Assassin 33 A.D.,When a billionaire gives a group of young scie...,18.892,/8jDvtdH327I8TgX3UPdkAsZF1dA.jpg,2020-01-24,Assassin 33 A.D.,False,5.3,86
12,False,/9LsJP9OuIBmBUxZpmVKtUUjF0PA.jpg,"[10749, 35]",565426,en,To All the Boys: P.S. I Still Love You,Lara Jean and Peter have just taken their roma...,22.555,/maib5VlmEqp5xlN8lptnBSftp2o.jpg,2020-02-12,To All the Boys: P.S. I Still Love You,False,6.9,2107
13,False,/dUasP5TGFk1dhTgtNhk5uLRPRx6.jpg,"[10752, 36, 18]",592279,ru,Калашников,Tank commander Kalashnikov is severely injured...,19.737,/ApfjrFsGunqLo5MKYGtFMTSTaMq.jpg,2020-02-20,Kalashnikov AK-47,False,7.6,167
14,False,/kwkAGwtwS57FckZq6n44oipW1AN.jpg,"[878, 27]",668343,en,Alien Outbreak,"In a small rural community, local police offic...",21.848,/5m4Gw9wTRxUdDnx7UNn1bNLN54J.jpg,2020-02-11,Alien Outbreak,False,3.8,20
15,False,/tmS9oXeMVs6njcxndDKsjJSF02H.jpg,[18],552532,en,Charm City Kings,Mouse desperately wants to join The Midnight C...,25.942,/8oiMFMarbRpcusASIX4cjVXoZKI.jpg,2020-01-27,Charm City Kings,False,8.1,273
16,False,/jeiVmutYPZyQRSYk7OvyWENGIrA.jpg,"[27, 9648, 53]",555974,en,Brahms: The Boy II,After a family moves into the Heelshire Mansio...,19.584,/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg,2020-02-20,Brahms: The Boy II,False,6.0,923
17,False,/y6J8TOnSUscFeMgvWxc6xeEEXo7.jpg,"[16, 35, 10751, 10749]",673595,en,Playdate With Destiny,It seemed like just another day at the park fo...,18.500,/k6fgOq7wPKujibXGWYlcIBgkcwQ.jpg,2020-02-29,Playdate With Destiny,False,7.6,286
18,False,/d5tYuMGpZEQ45NZOu9LrGQ2uiQN.jpg,"[16, 10751]",619918,no,Elleville Elfrid,"Ella Bella Bingo and Henry are best friends, b...",19.663,/vdK86hDn31gjtVJhMDB7ZMEAH8Z.jpg,2020-01-24,Ella Bella Bingo,False,6.5,52
19,False,/bYSenwevJ3e71W0aweIv0vhBrhS.jpg,"[27, 9648]",465086,en,The Grudge,After a young mother murders her family in her...,18.230,/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg,2020-01-01,The Grudge,False,5.6,862

# Importing and Saving the Movies Dataset (Best Practice)

In [77]:
import pandas as pd
import requests 
import json
pd.options.display.max_columns = 30

In [78]:
api_key = "api_key=6ba36fa80dddafff20f2bcc5811c603b"

In [80]:
movie_id = [0,299534, 19995, 140607, 299536, 597, 1353397,
           420818, 24428, 168259, 99861, 284054, 12445,
           181808, 330457, 351286, 109445, 321612, 260513]

In [81]:
basic_url = "https://api.themoviedb.org/3/movie/{}?{}"

In [86]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [87]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [88]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,540.119,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Part of the journey is the end.,Avengers: Endgame,False,8.3,19819
1,False,/jlQJDD0L5ZojjlS0KYnApdO0n19.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",386.225,/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2847246203,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the World of Pandora.,Avatar,False,7.5,24525
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,67.283,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16461
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,758.479,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,23381
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,111.881,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.9,20226
5,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",113.960,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1667635327,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The King has Returned.,The Lion King,False,7.2,8101
6,False,/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,409.910,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.7,25945
7,False,/gyCHdpyPXmp7rqxE10nlImkzRo9.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,110.444,/wurKlC3VKUgcfsn0K51MJYEleS2.jpg,"[{'id': 87857, 'logo_path': None, 'name': 'Abu...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2015-04-01,1515047671,137,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance Hits Home,Furious 7,False,7.3,8820
8,False,/xnqust9Li4oxfhXD5kcPi3UC8i4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",365000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,289.469,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,18980
9,False,/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,"King T'Challa returns home to the reclusive, t...",119.522,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1346739107,134,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.4,18340
10,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",207.837,/da22ZBmrDOXOCDRvr8Gic8ldhv4.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,16567
11,False,/epVMXf10WqFkONzKR8V76Ypj5Y3.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,66.728,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.9,12508
12,False,/AoSZyb37ljMAxw0RdeQEBHKtgcc.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",196.138,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.3,7850
13,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,103.198,/7dAh80ydoWvUaBE8uFYkp9WsoSC.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1303459585,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone,Jurassic World: Fallen Kingdom,False,6.6,9428
14,False,/9WHM084AoskcHCObAy4QnJg01eM.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,138.623,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,13769
15,False,/m3tdSyl11fhgXPDSEt3aBctTqGP.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,62.967,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Be our guest.,Beauty and the Beast,False,7.0,13814
16,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,163.054,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Back to work.,Incredibles 2,False,7.5,10513

In [89]:
df = df.loc[:,["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                   ascending = False)

In [90]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
12,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
8,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
9,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
10,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
11,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [91]:
df.to_json("movies.json", orient = "records")

In [92]:
with open("movies.json") as f:
    data = json.load(f)

In [93]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/syGPZuzcHBBHMLiNDN0x0Tms4Fk.jpg,NaN
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg,/jIgM7YNVft0YGeXsqrh3oG5TWLx.jpg,NaN
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/nVMyxXziZVZXHP3yW26SRdAB9te.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
8,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.0,Star Wars Collection,/tdQzRSk4PXX6hzjLcQWHafYtZTI.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",102,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/xMX1jZyObVeWUxDQmt53X6jzIO4.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [94]:
pd.json_normalize(data, "genres", "title")

       id             name                                         title
0      28           Action                                        Avatar
1      12        Adventure                                        Avatar
2      14          Fantasy                                        Avatar
3     878  Science Fiction                                        Avatar
4      12        Adventure                             Avengers: Endgame
5     878  Science Fiction                             Avengers: Endgame
6      28           Action                             Avengers: Endgame
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     12        Adventure                                 The Lion King
17  10751           Family                                 The Lion King
18     16        Animation                                 The Lion King
19    878  Science Fiction                                  The Avengers
20     28           Action                                  The Avengers
21     12        Adventure                                  The Avengers
22     28           Action                                     Furious 7
23     53         Thriller                                     Furious 7
24     80            Crime                                     Furious 7
25     12        Adventure                                     Furious 7
26  10751           Family                                     Frozen II
27     16        Animation                                     Frozen II
28     12        Adventure                                     Frozen II
29     35           Comedy                                     Frozen II
30     14          Fantasy                                     Frozen II
31     28           Action                       Avengers: Age of Ultron
32     12        Adventure                       Avengers: Age of Ultron
33    878  Science Fiction                       Avengers: Age of Ultron
34     28           Action                                 Black Panther
35     12        Adventure                                 Black Panther
36    878  Science Fiction                                 Black Panther
37     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
38     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
39    878  Science Fiction                      Star Wars: The Last Jedi
40     28           Action                      Star Wars: The Last Jedi
41     12        Adventure                      Star Wars: The Last Jedi
42     28           Action                Jurassic World: Fallen Kingdom
43     12        Adventure                Jurassic World: Fallen Kingdom
44    878  Science Fiction                Jurassic World: Fallen Kingdom
45     16        Animation                                        Frozen
46  10751           Family                                        Frozen
47     12        Adventure                                        Frozen
48     14          Fantasy                                        Frozen
49  10751           Family                          Beauty and the Beast
50     14          Fantasy                          Beauty and the Beast
51  10749          Romance                          Beauty and the Beast
52     28           Action                                 Incredibles 2
53     12        Adventure                                 Incredibles 2
54     16        Animation                                 Incredibles 2
55  10751           Family                                 Incredibles 2

# Importing and Saving the Movies Dataset (Real World Scenario)

In [95]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
1,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
12,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
8,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
9,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
10,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
11,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [96]:
df.to_csv("movies_raw.csv", index = False)

In [97]:
df = pd.read_csv("movies_raw.csv")

In [98]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avatar,19995,2847246203,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
1,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1667635327,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
8,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332698830,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [101]:
df.genres[0]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]"